body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
		box-sizing:content-box;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
		max-width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
		box-sizing:border-box;
}

button {
    width: 100%;
		max-width: 100%;
    padding: 10px;
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:blueviolet;
}

.qr-code {
    text-align: center;
    margin-top: 20px;
}

.qr-code img {
    max-width: 100%;
    height: auto;
}

#qrCodeOutput {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 20px;
	margin: 20px 0;
}

#qrCodeOutput img {
	margin-bottom: 20px;
}